.WelcomeScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #f6d3b7;
}

.WelcomeScreen h1 {
    color: #137DC5;
}

.login-button {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 4px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
    min-width: 10rem;
    margin: 1rem;
}

.google-btn {
    width: 160px;
    height: 42px;
    margin: 1rem;
    background-color: #ef954b;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 80px;
    align-items: center;
}
    
.google-btn:hover {
    box-shadow: 0 0 6px #ef954b;
}

.google-btn:active {
    background: #ef954b;
}
    
.google-icon-wrapper {
    position: sticky;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
    
.google-icon {
    position:relative;
    margin: 50px 0 0 100px;
    width: 500px;
    height: 500px;

}
    
.btn-text {
    float: right;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
    background-color: #ef852e;
    width: 80%;
    height: 100%;
    text-align: center;
    align-items: center;
    }

@media (max-width: 480px) {
    .WelcomeScreen {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background: #f6d3b7;
    }
    
    .WelcomeScreen h1 {
        color: #137DC5;
        font-size: 50px;
    }
    
    .google-icon {
        width: 300px;
        height: 300px;
    }
}